@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root{
    --mainTextColor-light:#000;
    --secondaryTextColor-light: #808080;
    --mainLinkColor-light:#0da2b8;
    --mainBorderColor-light:rgb(218, 218, 218);
    --mainBgColor-light:rgb(249, 250,251);

    --mainTextColor-dark:#fff;
    --secondaryTextColor-dark:#adb0b1;
    --mainLinkColor-dark:rgb(30, 190,214);
    --mainBorderColor-dark:#2b3031;
    --mainBgColor-dark:#131415;

    --mainTextColor:var(--mainTextColor-dark);
    --secondaryTextColor:var(--secondaryTextColor-dark);
    --mainLinkColor:var(--mainLinkColor-dark);
    --mainBorderColor:var(--mainBorderColor-dark);
    --mainBgColor:var(--mainBgColor-dark);

}

*{
    font-family: 'Readex Pro';
    line-height: 1.5em;
    box-sizing: border-box; /* Item inside div don't overflow */
    color: var(--mainTextColor);
}

body{
    background-color:var(--mainBgColor);
}

p,span,li{
    color:var(--secondaryTextColor);
    font-size: 1em; /* 16px */
}

a{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 500;
}

li {
    line-height: 2em;
}

#container--main { /* referencing the id */
    max-width: 700px; 
    margin: 0 auto /* center the page */
}

#wrapper--hero {
    display: flex; /* Display left to right */
    align-items: center;
    gap: 4em;
}

#user--name {
    font-size: 3em;
}

#bio {
    font-weight: 300;
}

#profile--img {
    border-radius: 50%; /* turning to a circle */
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#email {
    color: var(--mainTextColor)
}

#social--list {
    display: flex;
    justify-content: space-between; /* put space between each link */
                                    /* Less social link can use flex-start */
    column-gap: 1em;
    flex-wrap: wrap;
}

#social--list, a{
    font-size: 0.9em;
    color: var(--secondaryTextColor);
}

#social--list, a:hover{ /* when moving the cursor on the link */
    font-size: 0.9em;
    color: var(--mainLinkColor);
    transition: 0.3s;
}

#experience {
    list-style: none;
}

#wrapper--techstack__items {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}

.card--techstack {
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    padding: 0.5em 1em;
    align-items: center;
}

.section--page{ /* referencing the class */
    padding-top: 1em;
    padding-bottom: 1em;
}

.card--work-history{
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 2em;
}

.line-break{
    background-color: var(--mainBorderColor);
    height: 1px;
}

.card--project{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid var(--mainBorderColor);
}

.card--project a{
    color: rgb(30, 190,214);
}


@media(max-width:600px){

    .section--page{
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #wrapper--hero{
        gap: 1em;
        flex-direction: column;
    }

    #profile-pic{
        width: 200px;
        height: 200px;
    }


    .card--work-history{
        border-left: none;
        padding-left: 0;
    }
}